/*=============================================================
*
* Login Page
*
*============================================================*/

.login-box {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    /*border: 1px solid grey;*/
    padding: 25px;
    color: #FFF;
    margin: 0 auto;
    /*-webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);*/
    border-radius: 7px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

form {
    width: 380px;
    margin: 40px auto 30px;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* Label */

label {
    color: #999;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}

/* active */

input:focus ~ label, input.used ~ label {
    top: -25px;
    /*transform: scale(.75); left: -2px;*/
    /* font-size: 14px; */
    color: #4a89dc;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active */

input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
}

/* Animations */

@keyframes inputHighlighter {
    from {
        background: #4a89dc;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/* Button */

.button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #3160B6;
    cursor: pointer;
    transition: all 0.15s ease;
}

.button:focus {
    outline: 0;
}

/* Button modifiers */

.buttonBlue {
    background: #4a89dc;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
}

.buttonBlue:hover {
    background: #357bd8;
}

.login-box:hover {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.16), 0 4px 13px 0 rgba(0, 0, 0, 0.12);

}

.table-right {
    padding: 40px 20px 0px 80px;
    float: left;
}

/*.entryfield {
    width: 250px;
    font-family: Verdana;
}*/

/*#username {
    color: black;
    text-align: Left;
    height: 50px;
    padding: 3px 5px 3px 5px;
    border-style: 3px solid grey;
    font-size: 20px
}*/

/*#password {
    color: black;
    text-align: Left;
    height: 50px;
    padding: 3px 5px 3px 5px;
    border-style: 3px solid grey;
    font-size: 20px
}*/

/*.entryfield:focus {
    background: #f3fcff;
    border-color: rgba(51, 125, 215, 0.75) !important;
    box-shadow: 0 0 7px rgba(82, 168, 236, 0.5);
    outline: none;
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    transition: 0.2s linear all;
}*/

.version {
    /*float: center;*/
    font-size: 10px;
}

.title_name {
    margin-top: 10px;
    padding-left: 5px;
}

.titlebar {
    height: 40px;
!important
}

/* :..[ Social Icons ]..: */

.demo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: auto;
    padding: 20px 0px 0 0
}

/* :..[ Buttons ]..: */

img.LoginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*button, .button, .css_button, ul.button-bar li a {
    height: 50px;
    width: 250px;
    vertical-align: center;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-family: Verdana;
    font-size: 30px
    /*	Padding/Margins */
/*	Generic Font Styles */
/* outline: none; */
/* Here be dragons! */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}

/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fafafa inset;
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}

/* Ugly hack: but Fx needs this to have INPUT elements the same height as A elements (?) */

/*.button:focus {
    outline: 0;
    background: #fafafa;
}*/